.fader-container {
	display: flex;
	gap: 10px;
	border-right: 2px solid #d3d3d3;
}
.fader {
	--handle-height: 30px;
	--fader-width: 50px;
	
	width: var(--fader-width);
	height: 90vh;
	display: flex;
	flex-flow: column;

	.body {
		flex: 1 1 auto;
		background-color: #d3d3d3;
		border: 1px solid #ccc;
		position: relative;
		opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
		-webkit-transition: .2s; /* 0.2 seconds transition on hover */
		transition: opacity .2s;
	}

	.body:hover {
		opacity: 1; /* Fully shown on mouse-over */
	}

	.handle {
		width: 100%;
		height: var(--handle-height);
		background-color: #04AA6D;
		cursor: pointer;
		position: relative;
	}

	.bound {
		flex: 1 1 auto;
		height: calc(100% - var(--handle-height));
		
		.line {
			position: relative;
			width: 100%;
			height: 1px;
		}
	}

	.value {
		flex: 0 1 auto;
		text-align: center;
	}

	.peek {
		margin-top: 5px;
		background-color: #d3d3d3;
		height: 40px;
		opacity: 0.7;
	}

	.peek:hover {
		opacity: 1;
	}

	.label {
		flex: 0 1 auto;
		text-align: center;
	}
}
